.root {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  --border-color: rgba(180, 180, 180, 0.3);

  * {
    box-sizing: border-box;
  }

  .center {
    position: relative;
    display: flex;
    height: 100%;
    overflow: hidden;
    border-top: 1px solid var(--border-color);
  }

  .list {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    flex: 1;
    flex-shrink: 0;

    .empty {
      padding: 12px;
      font-size: 12px;
      color: #999;
      text-align: center;
    }

    .item {
      overflow: hidden;
      padding: 2px 12px;
      border-top: 1px solid var(--border-color);

      .itemContent {
        flex: 1;
        overflow: hidden;
      }

      // 右侧的数字，用于
      .itemTips {
        font-size: 24px;
        flex-shrink: 0;
        color: rgba(180, 180, 180, 0.5);
      }

      .name {
        font-size: 14px;
        line-height: 1.5;
      }

      .tips {
        font-size: 12px;
        color: #999;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:hover {
        background-color: rgba(200, 200, 200, 0.2);
      }

      &.selected {
        background-color: rgba(200, 200, 200, 0.3);
      }
    }
  }

  .row {
    display: flex;
    align-items: center;
  }

  .detail {
    position: relative;
    flex-shrink: 0;
    flex: 1;
    height: 100%;
    overflow: hidden;
    border-left: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;

    .preview {
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 12px;
      white-space: pre-wrap;
      font-family: monospace;
      word-break: break-word;
    }

    .info {
      flex-shrink: 0;
      padding: 2px 12px;
      border-top: 1px solid var(--border-color);
    }
  }

  .footer {
    background-color: rgba(180, 180, 180, 0.1);
    height: 40px;
    flex-shrink: 0;
    border-top: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 12px;
  }
}

.split {
  color: #999;
  height: 1.5em;
  border-left: 1px solid var(--border-color);
}

.timeRange {
  padding: 2px 12px;
  margin-top: 4px;
  color: #999;
  font-size: 12px;

  &:not(:first-child) {
    margin-top: 8px;
  }
}